<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="zheng-upms-server"/>

    <dubbo:registry file="./zheng-upms-server-dubbo.cache" address="zookeeper://222.84.231.82:64005"/>
    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>
    <!-- 系统 -->
    <dubbo:reference id="upmsSystemService" interface="com.zheng.upms.rpc.api.UpmsSystemService" mock="true"/>
    <!-- 组织 -->
    <dubbo:reference id="upmsOrganizationService" interface="com.zheng.upms.rpc.api.UpmsOrganizationService" mock="true"/>
    <!-- 用户组织 -->
    <dubbo:reference id="upmsUserOrganizationService" interface="com.zheng.upms.rpc.api.UpmsUserOrganizationService" mock="true"/>
    <!-- 用户 -->
    <dubbo:reference id="upmsUserService" interface="com.zheng.upms.rpc.api.UpmsUserService" mock="true"/>
    <!-- 角色 -->
    <dubbo:reference id="upmsRoleService" interface="com.zheng.upms.rpc.api.UpmsRoleService" mock="true"/>
    <!-- 权限 -->
    <dubbo:reference id="upmsPermissionService" interface="com.zheng.upms.rpc.api.UpmsPermissionService" mock="true"/>
    <!-- 角色权限 -->
    <dubbo:reference id="upmsRolePermissionService" interface="com.zheng.upms.rpc.api.UpmsRolePermissionService" mock="true"/>
    <!-- 用户权限 -->
    <dubbo:reference id="upmsUserPermissionService" interface="com.zheng.upms.rpc.api.UpmsUserPermissionService" mock="true"/>
    <!-- 用户角色 -->
    <dubbo:reference id="upmsUserRoleService" interface="com.zheng.upms.rpc.api.UpmsUserRoleService" mock="true"/>
    <!-- 操作日志 -->
    <dubbo:reference id="upmsLogService" interface="com.zheng.upms.rpc.api.UpmsLogService" mock="true"/>
    <!-- 接口服务 -->
    <dubbo:reference id="upmsApiService" interface="com.zheng.upms.rpc.api.UpmsApiService" mock="true"/>
    <!-- 用户查询 -->
    <dubbo:reference id="ucenterUserService" interface="com.zheng.ucenter.rpc.api.UcenterUserService" mock="true"/>
    <!-- 文章 -->
    <dubbo:reference id="factivityService" interface="com.zheng.friend.rpc.api.FActivityService" mock="true"/>
    <!-- 接口服务 -->
    <dubbo:reference id="ucenterIdentificaionService" interface="com.zheng.ucenter.rpc.api.UcenterIdentificaionService" mock="true"/>

    <dubbo:reference id="fUserBaseMsgServiceImpl" interface="com.zheng.friend.rpc.api.FUserBaseMsgService" mock="true"/>

    <dubbo:reference id="fUserRequestService" interface="com.zheng.friend.rpc.api.FUserRequestService" mock="true"/>

    <dubbo:reference id="fMemberTypeService" interface="com.zheng.friend.rpc.api.FMemberTypeService" mock="true"/>

    <dubbo:reference id="fUserMemberRelService" interface="com.zheng.friend.rpc.api.FUserMemberRelService" mock="true"/>

    <dubbo:reference id="fUserSettingService" interface="com.zheng.friend.rpc.api.FUserSettingService" mock="true"/>

    <dubbo:reference id="fUserLivingStatusService" interface="com.zheng.friend.rpc.api.FUserLivingStatusService" mock="true"/>

    <dubbo:reference id="payVendorService" interface="com.zheng.pay.rpc.api.PayVendorService" mock="true"/>

    <dubbo:reference id="fContactService" interface="com.zheng.friend.rpc.api.FContactService" mock="true"/>

    <dubbo:reference id="fGreetingTempService" interface="com.zheng.friend.rpc.api.FGreetingTempService" mock="true"/>

    <dubbo:reference id="fUserOrderService" interface="com.zheng.friend.rpc.api.FUserOrderService" mock="true"/>

</beans>