<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.friend.rpc.mapper.FMessageExtMapper">

  <resultMap id="BaseResultMap" type="com.zheng.friend.dao.vo.RecentMsgVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="unReadCount" jdbcType="INTEGER" property="unReadCount" />
    <result column="to_user_id" jdbcType="INTEGER" property="toUserId" />
    <result column="from_user_id" jdbcType="INTEGER" property="fromUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <collection property="fUserBaseMsg" resultMap="fUserBaseMsg" />
  </resultMap>

  <resultMap id="fUserBaseMsg" type="com.zheng.friend.dao.model.FUserBaseMsg">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="nikename" jdbcType="VARCHAR" property="nikename" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="birth_date" jdbcType="VARCHAR" property="birthDate" />
    <result column="height" jdbcType="FLOAT" property="height" />
    <result column="year_income" jdbcType="VARCHAR" property="yearIncome" />
    <result column="month_income" jdbcType="VARCHAR" property="monthIncome" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="work_unit" jdbcType="VARCHAR" property="workUnit" />
    <result column="work_place" jdbcType="VARCHAR" property="workPlace" />
    <result column="house_status" jdbcType="VARCHAR" property="houseStatus" />
    <result column="car_status" jdbcType="VARCHAR" property="carStatus" />
    <result column="marital_status" jdbcType="VARCHAR" property="maritalStatus" />
    <result column="children_status" jdbcType="VARCHAR" property="childrenStatus" />
  </resultMap>

  <!-- 获取消息列表 -->
  <select id="selectRecentMsgByUser" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      select * from
       (select m.id,m.msg_content,m.from_user_id,m.to_user_id,m.create_time,base.*  from f_message
        as m left join f_user_base_msg as base on m.from_user_id = base.user_id
        where to_user_id = #{userId,jdbcType=INTEGER} and msg_state = 0  order by m.id desc) as d left join (select from_user_id , count(id) as unReadCount  from f_message
        where to_user_id = #{userId,jdbcType=INTEGER} and msg_state = 0  group by from_user_id) as t on d.from_user_id = t.from_user_id;
  </select>



  <resultMap id="ListMsgVo" type="com.zheng.friend.dao.vo.RecentMsgVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="unReadCount" jdbcType="INTEGER" property="unReadCount" />
    <result column="to_user_id" jdbcType="INTEGER" property="toUserId" />
    <result column="from_user_id" jdbcType="INTEGER" property="fromUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="msg_content" jdbcType="VARCHAR" property="msgContent" />
    <result column="msg_state" jdbcType="TINYINT" property="msgState" />
    <collection property="fUserBaseMsg" resultMap="fromUserBaseMsg" />
    <collection property="tUserBaseMsg" resultMap="toUserBaseMsg" />
  </resultMap>


  <resultMap id="fromUserBaseMsg" type="com.zheng.friend.dao.model.FUserBaseMsg">
    <id column="from_user_id" jdbcType="INTEGER" property="userId" />
    <result column="f_nikename" jdbcType="VARCHAR" property="nikename" />
    <result column="f_avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="f_birth_date" jdbcType="VARCHAR" property="birthDate" />
    <result column="f_height" jdbcType="FLOAT" property="height" />
    <result column="f_month_income" jdbcType="VARCHAR" property="monthIncome" />
    <result column="f_education" jdbcType="VARCHAR" property="education" />
    <result column="f_profession" jdbcType="VARCHAR" property="profession" />
    <result column="f_marital_status" jdbcType="VARCHAR" property="maritalStatus" />
  </resultMap>


  <resultMap id="toUserBaseMsg" type="com.zheng.friend.dao.model.FUserBaseMsg">
    <id column="to_user_id" jdbcType="INTEGER" property="userId" />
    <result column="t_nikename" jdbcType="VARCHAR" property="nikename" />
    <result column="t_avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="t_birth_date" jdbcType="VARCHAR" property="birthDate" />
    <result column="t_height" jdbcType="FLOAT" property="height" />
    <result column="t_month_income" jdbcType="VARCHAR" property="monthIncome" />
    <result column="t_education" jdbcType="VARCHAR" property="education" />
    <result column="t_profession" jdbcType="VARCHAR" property="profession" />
    <result column="t_marital_status" jdbcType="VARCHAR" property="maritalStatus" />
  </resultMap>



  <sql id="base_f_user">
    fuser.nikename as f_nikename,fuser.birth_date as f_birth_date,fuser.height as f_height,fuser.month_income as f_month_income,
    fuser.education as f_education,fuser.profession as f_profession,fuser.marital_status as f_marital_status
  </sql>


  <sql id="base_t_user">
    tuser.nikename as t_nikename,tuser.birth_date as t_birth_date,tuser.height as t_height,tuser.month_income as t_month_income,
    tuser.education as t_education,tuser.profession as t_profession,tuser.marital_status as t_marital_status
  </sql>







  <!-- 获取消息列表 -->
  <select id="selectMsgRecord" resultMap="ListMsgVo" parameterType="hashmap">

    select m.*,<include refid="base_f_user" /> , <include refid="base_t_user" /> from f_message as m left join f_user_base_msg as fuser on m.from_user_id = fuser.user_id left join  f_user_base_msg as tuser on m.to_user_id = tuser.user_id  where (from_user_id= #{f_userId,jdbcType=INTEGER} and to_user_id= #{t_userId,jdbcType=INTEGER} ) or (from_user_id= #{t_userId,jdbcType=INTEGER} and to_user_id= #{f_userId,jdbcType=INTEGER} ) order by create_time desc;

  </select>








  <!-- 缓存 -->
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
</mapper>