<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.friend.dao.mapper.FUserBaseMsgMapper">
  <resultMap id="BaseResultMap" type="com.zheng.friend.dao.model.FUserBaseMsg">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="nikename" jdbcType="VARCHAR" property="nikename" />
    <result column="birth_date" jdbcType="VARCHAR" property="birthDate" />
    <result column="height" jdbcType="REAL" property="height" />
    <result column="shape" jdbcType="VARCHAR" property="shape" />
    <result column="year_income" jdbcType="VARCHAR" property="yearIncome" />
    <result column="month_income" jdbcType="VARCHAR" property="monthIncome" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="disposition" jdbcType="VARCHAR" property="disposition" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="unit_property" jdbcType="VARCHAR" property="unitProperty" />
    <result column="work_unit" jdbcType="VARCHAR" property="workUnit" />
    <result column="work_place" jdbcType="VARCHAR" property="workPlace" />
    <result column="house_status" jdbcType="VARCHAR" property="houseStatus" />
    <result column="car_status" jdbcType="VARCHAR" property="carStatus" />
    <result column="marital_status" jdbcType="VARCHAR" property="maritalStatus" />
    <result column="children_status" jdbcType="VARCHAR" property="childrenStatus" />
    <result column="soliloquy" jdbcType="VARCHAR" property="soliloquy" />
    <result column="declaration" jdbcType="VARCHAR" property="declaration" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="from_city" jdbcType="VARCHAR" property="fromCity" />
    <result column="from_city_id" jdbcType="INTEGER" property="fromCityId" />
    <result column="from_area_id" jdbcType="INTEGER" property="fromAreaId" />
    <result column="from_area" jdbcType="VARCHAR" property="fromArea" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, nikename, birth_date, height, shape, year_income, month_income, education, 
    disposition, profession, unit_property, work_unit, work_place, house_status, car_status, 
    marital_status, children_status, soliloquy, declaration, avatar, from_city, from_city_id, 
    from_area_id, from_area
  </sql>
  <select id="selectByExample" parameterType="com.zheng.friend.dao.model.FUserBaseMsgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from f_user_base_msg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from f_user_base_msg
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from f_user_base_msg
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zheng.friend.dao.model.FUserBaseMsgExample">
    delete from f_user_base_msg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zheng.friend.dao.model.FUserBaseMsg">
    insert into f_user_base_msg (user_id, nikename, birth_date, 
      height, shape, year_income, 
      month_income, education, disposition, 
      profession, unit_property, work_unit, 
      work_place, house_status, car_status, 
      marital_status, children_status, soliloquy, 
      declaration, avatar, from_city, 
      from_city_id, from_area_id, from_area
      )
    values (#{userId,jdbcType=INTEGER}, #{nikename,jdbcType=VARCHAR}, #{birthDate,jdbcType=VARCHAR}, 
      #{height,jdbcType=REAL}, #{shape,jdbcType=VARCHAR}, #{yearIncome,jdbcType=VARCHAR}, 
      #{monthIncome,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{disposition,jdbcType=VARCHAR}, 
      #{profession,jdbcType=VARCHAR}, #{unitProperty,jdbcType=VARCHAR}, #{workUnit,jdbcType=VARCHAR}, 
      #{workPlace,jdbcType=VARCHAR}, #{houseStatus,jdbcType=VARCHAR}, #{carStatus,jdbcType=VARCHAR}, 
      #{maritalStatus,jdbcType=VARCHAR}, #{childrenStatus,jdbcType=VARCHAR}, #{soliloquy,jdbcType=VARCHAR}, 
      #{declaration,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{fromCity,jdbcType=VARCHAR}, 
      #{fromCityId,jdbcType=INTEGER}, #{fromAreaId,jdbcType=INTEGER}, #{fromArea,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zheng.friend.dao.model.FUserBaseMsg">
    insert into f_user_base_msg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="nikename != null">
        nikename,
      </if>
      <if test="birthDate != null">
        birth_date,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="shape != null">
        shape,
      </if>
      <if test="yearIncome != null">
        year_income,
      </if>
      <if test="monthIncome != null">
        month_income,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="disposition != null">
        disposition,
      </if>
      <if test="profession != null">
        profession,
      </if>
      <if test="unitProperty != null">
        unit_property,
      </if>
      <if test="workUnit != null">
        work_unit,
      </if>
      <if test="workPlace != null">
        work_place,
      </if>
      <if test="houseStatus != null">
        house_status,
      </if>
      <if test="carStatus != null">
        car_status,
      </if>
      <if test="maritalStatus != null">
        marital_status,
      </if>
      <if test="childrenStatus != null">
        children_status,
      </if>
      <if test="soliloquy != null">
        soliloquy,
      </if>
      <if test="declaration != null">
        declaration,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="fromCity != null">
        from_city,
      </if>
      <if test="fromCityId != null">
        from_city_id,
      </if>
      <if test="fromAreaId != null">
        from_area_id,
      </if>
      <if test="fromArea != null">
        from_area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="nikename != null">
        #{nikename,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null">
        #{birthDate,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=REAL},
      </if>
      <if test="shape != null">
        #{shape,jdbcType=VARCHAR},
      </if>
      <if test="yearIncome != null">
        #{yearIncome,jdbcType=VARCHAR},
      </if>
      <if test="monthIncome != null">
        #{monthIncome,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="disposition != null">
        #{disposition,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="unitProperty != null">
        #{unitProperty,jdbcType=VARCHAR},
      </if>
      <if test="workUnit != null">
        #{workUnit,jdbcType=VARCHAR},
      </if>
      <if test="workPlace != null">
        #{workPlace,jdbcType=VARCHAR},
      </if>
      <if test="houseStatus != null">
        #{houseStatus,jdbcType=VARCHAR},
      </if>
      <if test="carStatus != null">
        #{carStatus,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="childrenStatus != null">
        #{childrenStatus,jdbcType=VARCHAR},
      </if>
      <if test="soliloquy != null">
        #{soliloquy,jdbcType=VARCHAR},
      </if>
      <if test="declaration != null">
        #{declaration,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="fromCity != null">
        #{fromCity,jdbcType=VARCHAR},
      </if>
      <if test="fromCityId != null">
        #{fromCityId,jdbcType=INTEGER},
      </if>
      <if test="fromAreaId != null">
        #{fromAreaId,jdbcType=INTEGER},
      </if>
      <if test="fromArea != null">
        #{fromArea,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zheng.friend.dao.model.FUserBaseMsgExample" resultType="java.lang.Long">
    select count(*) from f_user_base_msg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update f_user_base_msg
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.nikename != null">
        nikename = #{record.nikename,jdbcType=VARCHAR},
      </if>
      <if test="record.birthDate != null">
        birth_date = #{record.birthDate,jdbcType=VARCHAR},
      </if>
      <if test="record.height != null">
        height = #{record.height,jdbcType=REAL},
      </if>
      <if test="record.shape != null">
        shape = #{record.shape,jdbcType=VARCHAR},
      </if>
      <if test="record.yearIncome != null">
        year_income = #{record.yearIncome,jdbcType=VARCHAR},
      </if>
      <if test="record.monthIncome != null">
        month_income = #{record.monthIncome,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null">
        education = #{record.education,jdbcType=VARCHAR},
      </if>
      <if test="record.disposition != null">
        disposition = #{record.disposition,jdbcType=VARCHAR},
      </if>
      <if test="record.profession != null">
        profession = #{record.profession,jdbcType=VARCHAR},
      </if>
      <if test="record.unitProperty != null">
        unit_property = #{record.unitProperty,jdbcType=VARCHAR},
      </if>
      <if test="record.workUnit != null">
        work_unit = #{record.workUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.workPlace != null">
        work_place = #{record.workPlace,jdbcType=VARCHAR},
      </if>
      <if test="record.houseStatus != null">
        house_status = #{record.houseStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.carStatus != null">
        car_status = #{record.carStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.maritalStatus != null">
        marital_status = #{record.maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.childrenStatus != null">
        children_status = #{record.childrenStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.soliloquy != null">
        soliloquy = #{record.soliloquy,jdbcType=VARCHAR},
      </if>
      <if test="record.declaration != null">
        declaration = #{record.declaration,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.fromCity != null">
        from_city = #{record.fromCity,jdbcType=VARCHAR},
      </if>
      <if test="record.fromCityId != null">
        from_city_id = #{record.fromCityId,jdbcType=INTEGER},
      </if>
      <if test="record.fromAreaId != null">
        from_area_id = #{record.fromAreaId,jdbcType=INTEGER},
      </if>
      <if test="record.fromArea != null">
        from_area = #{record.fromArea,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update f_user_base_msg
    set user_id = #{record.userId,jdbcType=INTEGER},
      nikename = #{record.nikename,jdbcType=VARCHAR},
      birth_date = #{record.birthDate,jdbcType=VARCHAR},
      height = #{record.height,jdbcType=REAL},
      shape = #{record.shape,jdbcType=VARCHAR},
      year_income = #{record.yearIncome,jdbcType=VARCHAR},
      month_income = #{record.monthIncome,jdbcType=VARCHAR},
      education = #{record.education,jdbcType=VARCHAR},
      disposition = #{record.disposition,jdbcType=VARCHAR},
      profession = #{record.profession,jdbcType=VARCHAR},
      unit_property = #{record.unitProperty,jdbcType=VARCHAR},
      work_unit = #{record.workUnit,jdbcType=VARCHAR},
      work_place = #{record.workPlace,jdbcType=VARCHAR},
      house_status = #{record.houseStatus,jdbcType=VARCHAR},
      car_status = #{record.carStatus,jdbcType=VARCHAR},
      marital_status = #{record.maritalStatus,jdbcType=VARCHAR},
      children_status = #{record.childrenStatus,jdbcType=VARCHAR},
      soliloquy = #{record.soliloquy,jdbcType=VARCHAR},
      declaration = #{record.declaration,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      from_city = #{record.fromCity,jdbcType=VARCHAR},
      from_city_id = #{record.fromCityId,jdbcType=INTEGER},
      from_area_id = #{record.fromAreaId,jdbcType=INTEGER},
      from_area = #{record.fromArea,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zheng.friend.dao.model.FUserBaseMsg">
    update f_user_base_msg
    <set>
      <if test="nikename != null">
        nikename = #{nikename,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null">
        birth_date = #{birthDate,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=REAL},
      </if>
      <if test="shape != null">
        shape = #{shape,jdbcType=VARCHAR},
      </if>
      <if test="yearIncome != null">
        year_income = #{yearIncome,jdbcType=VARCHAR},
      </if>
      <if test="monthIncome != null">
        month_income = #{monthIncome,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="disposition != null">
        disposition = #{disposition,jdbcType=VARCHAR},
      </if>
      <if test="profession != null">
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="unitProperty != null">
        unit_property = #{unitProperty,jdbcType=VARCHAR},
      </if>
      <if test="workUnit != null">
        work_unit = #{workUnit,jdbcType=VARCHAR},
      </if>
      <if test="workPlace != null">
        work_place = #{workPlace,jdbcType=VARCHAR},
      </if>
      <if test="houseStatus != null">
        house_status = #{houseStatus,jdbcType=VARCHAR},
      </if>
      <if test="carStatus != null">
        car_status = #{carStatus,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        marital_status = #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="childrenStatus != null">
        children_status = #{childrenStatus,jdbcType=VARCHAR},
      </if>
      <if test="soliloquy != null">
        soliloquy = #{soliloquy,jdbcType=VARCHAR},
      </if>
      <if test="declaration != null">
        declaration = #{declaration,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="fromCity != null">
        from_city = #{fromCity,jdbcType=VARCHAR},
      </if>
      <if test="fromCityId != null">
        from_city_id = #{fromCityId,jdbcType=INTEGER},
      </if>
      <if test="fromAreaId != null">
        from_area_id = #{fromAreaId,jdbcType=INTEGER},
      </if>
      <if test="fromArea != null">
        from_area = #{fromArea,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zheng.friend.dao.model.FUserBaseMsg">
    update f_user_base_msg
    set nikename = #{nikename,jdbcType=VARCHAR},
      birth_date = #{birthDate,jdbcType=VARCHAR},
      height = #{height,jdbcType=REAL},
      shape = #{shape,jdbcType=VARCHAR},
      year_income = #{yearIncome,jdbcType=VARCHAR},
      month_income = #{monthIncome,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      disposition = #{disposition,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      unit_property = #{unitProperty,jdbcType=VARCHAR},
      work_unit = #{workUnit,jdbcType=VARCHAR},
      work_place = #{workPlace,jdbcType=VARCHAR},
      house_status = #{houseStatus,jdbcType=VARCHAR},
      car_status = #{carStatus,jdbcType=VARCHAR},
      marital_status = #{maritalStatus,jdbcType=VARCHAR},
      children_status = #{childrenStatus,jdbcType=VARCHAR},
      soliloquy = #{soliloquy,jdbcType=VARCHAR},
      declaration = #{declaration,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      from_city = #{fromCity,jdbcType=VARCHAR},
      from_city_id = #{fromCityId,jdbcType=INTEGER},
      from_area_id = #{fromAreaId,jdbcType=INTEGER},
      from_area = #{fromArea,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>