<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.friend.dao.mapper.FUserMemberRelMapper">
  <resultMap id="BaseResultMap" type="com.zheng.friend.dao.model.FUserMemberRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="member_type_id" jdbcType="INTEGER" property="memberTypeId" />
    <result column="end_status" jdbcType="TINYINT" property="endStatus" />
    <result column="msg_send_status" jdbcType="TINYINT" property="msgSendStatus" />
    <result column="level" jdbcType="INTEGER" property="level" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zheng.friend.dao.model.FUserMemberRel">
    <result column="beg_time" jdbcType="LONGVARCHAR" property="begTime" />
    <result column="end_time" jdbcType="LONGVARCHAR" property="endTime" />
    <result column="createTime" jdbcType="LONGVARCHAR" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, member_type_id, end_status, msg_send_status, level
  </sql>
  <sql id="Blob_Column_List">
    beg_time, end_time, createTime
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zheng.friend.dao.model.FUserMemberRelExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from f_user_member_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zheng.friend.dao.model.FUserMemberRelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from f_user_member_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from f_user_member_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from f_user_member_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zheng.friend.dao.model.FUserMemberRelExample">
    delete from f_user_member_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zheng.friend.dao.model.FUserMemberRel">
    insert into f_user_member_rel (id, user_id, member_type_id, 
      end_status, msg_send_status, level, 
      beg_time, end_time, createTime
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{memberTypeId,jdbcType=INTEGER}, 
      #{endStatus,jdbcType=TINYINT}, #{msgSendStatus,jdbcType=TINYINT}, #{level,jdbcType=INTEGER}, 
      #{begTime,jdbcType=LONGVARCHAR}, #{endTime,jdbcType=LONGVARCHAR}, #{createtime,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zheng.friend.dao.model.FUserMemberRel">
    insert into f_user_member_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="memberTypeId != null">
        member_type_id,
      </if>
      <if test="endStatus != null">
        end_status,
      </if>
      <if test="msgSendStatus != null">
        msg_send_status,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="begTime != null">
        beg_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="memberTypeId != null">
        #{memberTypeId,jdbcType=INTEGER},
      </if>
      <if test="endStatus != null">
        #{endStatus,jdbcType=TINYINT},
      </if>
      <if test="msgSendStatus != null">
        #{msgSendStatus,jdbcType=TINYINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="begTime != null">
        #{begTime,jdbcType=LONGVARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=LONGVARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zheng.friend.dao.model.FUserMemberRelExample" resultType="java.lang.Long">
    select count(*) from f_user_member_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update f_user_member_rel
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.memberTypeId != null">
        member_type_id = #{record.memberTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.endStatus != null">
        end_status = #{record.endStatus,jdbcType=TINYINT},
      </if>
      <if test="record.msgSendStatus != null">
        msg_send_status = #{record.msgSendStatus,jdbcType=TINYINT},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.begTime != null">
        beg_time = #{record.begTime,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update f_user_member_rel
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      member_type_id = #{record.memberTypeId,jdbcType=INTEGER},
      end_status = #{record.endStatus,jdbcType=TINYINT},
      msg_send_status = #{record.msgSendStatus,jdbcType=TINYINT},
      level = #{record.level,jdbcType=INTEGER},
      beg_time = #{record.begTime,jdbcType=LONGVARCHAR},
      end_time = #{record.endTime,jdbcType=LONGVARCHAR},
      createTime = #{record.createtime,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update f_user_member_rel
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      member_type_id = #{record.memberTypeId,jdbcType=INTEGER},
      end_status = #{record.endStatus,jdbcType=TINYINT},
      msg_send_status = #{record.msgSendStatus,jdbcType=TINYINT},
      level = #{record.level,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zheng.friend.dao.model.FUserMemberRel">
    update f_user_member_rel
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="memberTypeId != null">
        member_type_id = #{memberTypeId,jdbcType=INTEGER},
      </if>
      <if test="endStatus != null">
        end_status = #{endStatus,jdbcType=TINYINT},
      </if>
      <if test="msgSendStatus != null">
        msg_send_status = #{msgSendStatus,jdbcType=TINYINT},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="begTime != null">
        beg_time = #{begTime,jdbcType=LONGVARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=LONGVARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zheng.friend.dao.model.FUserMemberRel">
    update f_user_member_rel
    set user_id = #{userId,jdbcType=INTEGER},
      member_type_id = #{memberTypeId,jdbcType=INTEGER},
      end_status = #{endStatus,jdbcType=TINYINT},
      msg_send_status = #{msgSendStatus,jdbcType=TINYINT},
      level = #{level,jdbcType=INTEGER},
      beg_time = #{begTime,jdbcType=LONGVARCHAR},
      end_time = #{endTime,jdbcType=LONGVARCHAR},
      createTime = #{createtime,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zheng.friend.dao.model.FUserMemberRel">
    update f_user_member_rel
    set user_id = #{userId,jdbcType=INTEGER},
      member_type_id = #{memberTypeId,jdbcType=INTEGER},
      end_status = #{endStatus,jdbcType=TINYINT},
      msg_send_status = #{msgSendStatus,jdbcType=TINYINT},
      level = #{level,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>