<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="zheng-cms-admin"/>

    <dubbo:registry file="./zheng-friens-web-dubbo.cache"  address="zookeeper://222.84.231.82:64005" />

    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <!-- 文章 -->
    <dubbo:reference id="factivityService" interface="com.zheng.friend.rpc.api.FActivityService" mock="true"/>


    <!-- 接口服务 -->
    <dubbo:reference id="upmsApiService" interface="com.zheng.upms.rpc.api.UpmsApiService" mock="true"/>

    <!-- 接口服务 -->
    <dubbo:reference id="ucenterIdentificaionService" interface="com.zheng.ucenter.rpc.api.UcenterIdentificaionService" mock="true"/>

    <dubbo:reference id="ucenterUserService" interface="com.zheng.ucenter.rpc.api.UcenterUserService" mock="true"/>

    <dubbo:reference id="fUserBaseMsgServiceImpl" interface="com.zheng.friend.rpc.api.FUserBaseMsgService" mock="true"/>

    <dubbo:reference id="fUserRequestService" interface="com.zheng.friend.rpc.api.FUserRequestService" mock="true"/>

    <dubbo:reference id="fMemberTypeService" interface="com.zheng.friend.rpc.api.FMemberTypeService" mock="true"/>

    <dubbo:reference id="fUserMemberRelService" interface="com.zheng.friend.rpc.api.FUserMemberRelService" mock="true"/>

    <dubbo:reference id="fMessageService" interface="com.zheng.friend.rpc.api.FMessageService" mock="true"/>

    <dubbo:reference id="fUserViewRecordService" interface="com.zheng.friend.rpc.api.FUserViewRecordService" mock="true"/>

    <dubbo:reference id="fUserLivingStatusService" interface="com.zheng.friend.rpc.api.FUserLivingStatusService" mock="true"/>

    <dubbo:reference id="fUserImagesService" interface="com.zheng.friend.rpc.api.FUserImagesService" mock="true"/>

    <dubbo:reference id="fUserSettingService" interface="com.zheng.friend.rpc.api.FUserSettingService" mock="true"/>

    <dubbo:reference id="fSmsMessageService" interface="com.zheng.friend.rpc.api.FSmsMessageService" mock="true"/>

    <dubbo:reference id="fContactService" interface="com.zheng.friend.rpc.api.FContactService" mock="true"/>

    <dubbo:reference id="fUserOrderService" interface="com.zheng.friend.rpc.api.FUserOrderService" mock="true"/>

    <dubbo:reference id="payVendorService" interface="com.zheng.pay.rpc.api.PayVendorService" mock="true"/>

    <dubbo:reference id="payInOrderService" interface="com.zheng.pay.rpc.api.PayInOrderService" mock="true"/>

    <dubbo:reference id="payInOrderDetailService" interface="com.zheng.pay.rpc.api.PayInOrderDetailService" mock="true"/>



</beans>